

<div mat-dialog-content>
  <div *ngIf="data.vista == 1">
    

      
      <div   align="center" style="height:500px">
        <p>&nbsp;</p>
        
          <img class='illustration'src='assets/images/Premio_10.svg' style='max-width: 70%'/>
           <div id=bloque>
              <p></p>
            </div>
          <p><span class="parrafo2"> 10 opciones extra de ganar </span>
              <br /> <span class="parrafo2">el sorteo del departamento, viaje y auto</span></p>  
              
              <div >
              <mat-dialog-actions  align="center"> 
                <button  mat-button mat-dialog-close type="button" class="btn btn-success btn-cons">Cerrar</button> 
              </mat-dialog-actions> </div> 
      </div>
      
            
    </div>
  
  <div *ngIf="data.vista == 2">
     
      
      <div   align="center" style="height:500px">
        <p>&nbsp;</p>
        
          <img class='illustration' src='assets/images/Premio_800.svg' style='max-width: 70%'/>
           <div id=bloque>
              <p></p>
            </div>
          <p><span class="parrafo2"> 800 opciones extra de ganar </span>
              <br /> <span class="parrafo2">el sorteo del departamento, viaje y auto</span></p>  
              
              <div  class="center-div">
              <mat-dialog-actions>
                <button  mat-button mat-dialog-close type="button" class="btn btn-success btn-cons" >Cerrar</button> 
                
              </mat-dialog-actions> </div> 
      </div>
  </div>

  <div *ngIf="data.vista == 3">
      
      
      <div   align="center" style="height:500px">
        <p>&nbsp;</p>
        
          <img class='illustration' src='assets/images/Premio_1000.svg' style='max-width: 70%'/>
           <div id=bloque>
              <p></p>
            </div>
          <p><span class="parrafo2"> 1000 opciones extra de ganar </span>
              <br /> <span class="parrafo2">el sorteo del departamento, viaje y auto</span></p>  
              
              <div  class="center-div">
              <mat-dialog-actions>
                <button  mat-button mat-dialog-close type="button" class="btn btn-success btn-cons" >Cerrar</button> 
              </mat-dialog-actions> </div> 
      </div>
      </div>


      <div *ngIf="data.vista == 4">
         
          
          <div   align="center" style="height:500px">
            <p>&nbsp;</p>
            
              <img class='illustration' src='assets/images/Detalle_fastfood.svg' style='max-width: 70%'/>
               <div id=bloque>
                  <p></p>
                </div>
              <p><span class="parrafo2"> <b>Combo a S/. 10 en</b> </span>
                  <br /> <span class="parrafo2"><b>fastfood</b></span></p>  
                  
                  <span class="parrafo3"> Detalle del producto, detalle </span>
                    <br /> <span class="parrafo3">del producto</span> 

                  <p><span class="parrafo3"> X unidades disponibles </span>

                  <div  class="center-div">
                  <mat-dialog-actions>
                    <button   mat-button mat-dialog-close type="button" class="btn btn-success btn-cons">Cerrar</button> 
                  </mat-dialog-actions> </div> 

                
      </div>
    </div>

      <div *ngIf="data.vista == 5">
     
          
          <div   align="center" style="height:500px">
            <p>&nbsp;</p>
            
              <img class='illustration' src='assets/images/Detalle_taxis.svg' style='max-width: 150px'/>
               <div id=bloque>
                  <p></p>
                </div>
                <p><span class="parrafo2"> <b> S/. 10 de descuento en </b> </span>
                  <br /> <span class="parrafo2"><b>taxis</b></span></p>  
                  
                <span class="parrafo3"> Detalle del producto, detalle </span>
                    <br /> <span class="parrafo3">del producto</span>

                  <P><span class="parrafo3"> X unidades disponibles </span>

                  <div  class="center-div">
                  <mat-dialog-actions>
                    <button   mat-button mat-dialog-close type="button" class="btn btn-success btn-cons">Cerrar</button> 
                  </mat-dialog-actions> </div> 
                
      </div>
    </div>
      
      <div *ngIf="data.vista == 6">
         
          <div   align="center" style="height:500px">
            <p>&nbsp;</p>
            
              <img class='illustration' src='assets/images/Detalle_tiendas.svg' style='max-width: 150px'/>
               <div id=bloque>
                  <p></p>
                </div>
                <p><span class="parrafo2"> <b> S/. 10 de descuento en </b> </span>
                  <br /> <span class="parrafo2"><b>Plaza Vea</b></span></p>  
                  
                  <span class="parrafo3"> Detalle del producto, detalle </span>
                    <br /> <span class="parrafo3">del producto</span>

                    <p><span class="parrafo3"> X unidades disponibles </span>

                  <div  class="center-div">
                  <mat-dialog-actions>
                    <button   mat-button mat-dialog-close type="button" class="btn btn-success btn-cons">Cerrar</button> 
                  </mat-dialog-actions> </div>             
      </div>
</div>

<div *ngIf="data.vista == 7">
 
    
          <p align="center"><span class="parrafo4"> <b> ¿Cómo funciona tu ruleta? </b> </span>
          </p>  
            
          <p><span class="dot"></span><span class="parrafo3"> Todos los meses tendras disponible 
               un giro en tu ruleta 
              y diferentes  premios por <br />ganar. </span></p>
              <p><span class="dot"></span><span class="parrafo3"> Para jugar solo debes mantener como minimo
                  S/. 1500 o $750 en promedio el mes anterior.
                  </span></p>
                 <p><span class="dot"></span><span class="parrafo3"> Descarga el vale digital en tu celular
                   o muéstrale al representate del comercio indicado para canjearlo. </span></p>
                   <p><span class="dot"></span><span class="parrafo3"> Recibirás el detalle y condiciones de cada premio
                     ganado al correo registrado en Interbank. </span></p>

            <div  class="center-div">
            <mat-dialog-actions>
              <button   mat-button mat-dialog-close type="button" class="btn btn-success btn-cons">Entendido</button> 
            </mat-dialog-actions> </div>             
</div>

<div *ngIf="data.vista == 8">
    
      
            <p align="center"><span class="parrafo4" > <b> ¡Ganaste un descuento de S/100 en taxis! </b> </span>
            </p>  

            <div class="card">
                <div class="card-body">
                    <p align="center"><span class="parrafo2"> Código de canje</span>
                     </p> 
                </div> 

                <table class="data" align="center">
                    <tr>
                      <th class="col-sm-10" ><span class="parrafo3"> 183948893489303 <br> Clave 120 </span></th>
                      <th  ><img src='assets/images/Premio_taxis.svg'/></th>
                      
                     
                    </tr>
                  </table>

                  <p>&nbsp;</p>

                  <p align="center"><span class="parrafo3"> Descarga el vale completo para obtener 
                      información sobre locales disponibles o términos y condiciones. </span></p>

                  <p align="center"><span class="parrafo3"> Vence 18 de mayo del 2019 </span></p>

              </div>

              <div  class="center-div">
              <mat-dialog-actions>
                <button   mat-button mat-dialog-close type="button" class="btn btn-success btn-cons">Descargar vale digital</button> 
              </mat-dialog-actions> </div>             
  </div>

</div>

